/******************************************
-------------------------------------------
 			    All Pages 
-------------------------------------------
*******************************************/

body {
	min-width:1000px;
	overflow-x:auto;
}

@font-face {
	font-family: 'dosis';
	src: url("../fonts/Dosis-Regular.ttf") format('truetype'),
			url("../fonts/dosis-regular.woff") format('woff'),
			url("../fonts/dosis-regular.woff2") format('woff2');
}

@font-face {
	font-family: 'patua';
	src: url("../fonts/PatuaOne.ttf") format('truetype'),
			url("../fonts/PatuaOne.woff") format('woff'),
			url("../fonts/PatuaOne.woff2") format('woff2');
}

.row.no-gutters {
  margin-right: 0px;
  margin-left: 0px;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0px;
  padding-left: 0px;
}

.row.some-gutters {
  margin-right: 5px;
  margin-left: 5px;
}
.row.some-gutters > [class^="col-"],
.row.some-gutters > [class*=" col-"] {
  padding-right: 5px;
  padding-left: 5px;
}

.basic-text {
	font-family:'dosis', sans-serif;
	font-size:1.1em;
}

.bolder-text {
	font-family: 'patua', sans-serif;
	font-size:1.1em;
}

textarea, input {
	outline: none;
}

.transition-all {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.desktop-container {
	min-width:1350px;
}

.hide-on-desktop {
	display:none;
}

#paypal-donate-btn {
	display:inline-block;
}

/******************************************
-------------------------------------------
 			  Buttons/Links
-------------------------------------------
*******************************************/

.spot-link {
	color:#2e6fd1;
}

.spot-link:hover {
	text-decoration:underline;
	color:#2559a7;
}

.default-link {
	color:black;
	cursor:pointer;
}

.default-link:hover {
	text-decoration:underline;
	color:black;
}

.theme-link {
	color: #347db2;
	cursor:pointer;
}

.theme-link:hover {
	text-decoration:underline;
	color:#398bc6;
}

.button-link {
	color:white;
}

.button-link:hover {
	text-decoration:none;
	color:white;
}

.sliding-nav-button {
	color: #347db2;
    padding: 18px 17px;
    margin-left:-4px;
    border-right: 3px solid #347db2;
    font-family: 'dosis', sans-serif;
    font-weight:bold;
    font-size: 1.2em;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #398bc6;
	-webkit-transition: all ease 0.6s;
	-moz-transition: all ease 0.6s;
	transition: all ease 0.5s;
}

.sliding-button {
	color: #347db2;
    padding: 12px 17px;
    font-family: 'dosis', sans-serif;
    font-weight:bold;
    border: 3px solid #347db2;
    font-size: 1.2em;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #398bc6;
	-webkit-transition: all ease 0.6s;
	-moz-transition: all ease 0.6s;
	transition: all ease 0.5s;
}

.regular-button {
	border-radius:2px;
	font-family: 'dosis', sans-serif;
    display: inline-block;
    text-align: center;
    cursor:pointer;
    background:#398bc6;
    color:white;
    padding:6px 10px 5px 10px;
    letter-spacing:1px;
}

.regular-button:hover {
	background:#347db2;
}

.comment-button {
	margin-top:16px;
	float:right;
	font-size:1em !important;
	width:170px;
	padding: 5px 0px 4px 0px !important;	
}

.small-button {
	padding:5px 10px !important;
	font-size:1em !important;
}

.small-button:hover {
	box-shadow: inset -100px 0px 0 0 #398bc6;
    color: #FFF;
}

.smallish-button:hover {
	box-shadow: inset -100px 0px 0 0 #398bc6 !important;
    color: #FFF !important;
}

.medium-button:hover {
	box-shadow: inset -150px 0px 0 0 #398bc6;
    color: #FFF;
}

.large-button:hover {
	box-shadow: inset -185px 0px 0 0 #398bc6;
    color: #FFF;
    text-decoration:none;
}

/* radio buttons */

.radio-checkbox-div {
	color: rgba(0, 0, 0, 0.6);
	transition: all 0.3s;
	cursor:pointer;
	display:inline-block;
	margin-right:10px;
}

.inside-dot {
	background:white;
	height:6px;
	width:6px;
	position:relative;
	border-radius:100px;
	left:4px;
	top:4px;
}

.empty-circle {
	border: 2px solid rgba(0, 0, 0, 0.3);
	border-radius:100px;
	height:18px;
	width:18px;
	display:inline-block;
	vertical-align:text-top;
	transition:all 0.3s;
}

.radio-text {
	font-size:1.4em !important;
	position:relative;
	top:3px;
}

/* check box */

.check-box {
	height:18px;
	width:18px;
	border: 2px solid rgba(0, 0, 0, 0.3);
	border-radius:2px;
	display:inline-block;
	vertical-align:text-top;
	margin-right:5px;
	position:relative;
}

/* select */

.custom-select-div {
	letter-spacing:1px;
	color: #8c8c8c;
	cursor:pointer;
	background:white;
}

.custom-select-icon {
	float:right;
	margin-right:2px;
	margin-top:4px;
	color: rgba(0, 0, 0, 0.6);
}

.custom-select-menu {
	position:absolute;
	margin-top:5px;
	background:white;
	width:100%;
	border-radius:5px;
	border: 2px solid #347db2;
	text-align:center;
	z-index:9999;
	display:none;
}

.custom-menu-option {
	font-size:1.2em;
	font-family: 'dosis', sans-serif;
	padding:3px;
	cursor:pointer;
}

.custom-menu-option:hover {
	background: #347db2;
	color:white;
}
/******************************************
-------------------------------------------
 			    Home Page
-------------------------------------------
*******************************************/

#banner-image {
	width:100%;
	height:1000px;
	height:100vh;
	background: url("../images/banner-image1.jpg") no-repeat center center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size:cover;
	position:relative;
}

#banner-content {
	position:absolute;
	left:50%;
	top:45%;
	transform: translate(-50%, -50%);
	text-align:center;
}

.home-banner-overlay {
	background:rgba(0, 0, 0, 0.5);
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

#homepage-arrow-icon {
	position:absolute !important;
	bottom:5px !important;
	left:0 !important;
	font-size:2em;
	color:white;
}

#homepage-logo {
	height:450px;
	width:850px;
	margin-bottom:-90px;
}

.homepage-subtext {
	font-size:2.7em;
	letter-spacing:4px;
	color:white;
}

.homepage-choose-text {
	font-size:1.2em;
	color:white;
	margin-bottom:10px;
	padding-top:10px;
}

.homepage-icon-div {
	cursor:pointer;
}

.homepage-icon {
	height:100px;
	width:100px;
	opacity:0.6;
}

.under-icon-text {
	font-size:1.3em;
	color:white;
}

.home-explore-button {
	border:3px solid #347db2;
	border-radius:2px;
	padding:6px 12px;
	color:white;
	font-size:1.5em;
	letter-spacing:4px;
	cursor:pointer;
	width:100%;
	display:block;
}

.home-explore-button:hover {
	letter-spacing:6px;
	background:#347db2;
	text-decoration:none;
	color:white;
}

.homepage-tile {
	width:100%;
	height:450px;
	position:relative;
}

#explore-tile {
	background:url("../images/homepage-explore-tile2.jpg") no-repeat center center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size:cover;
}

#create-tile {
	background:url("../images/homepage-share-tile.jpg") no-repeat center center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size:cover;
}

#share-tile {
	background:url("../images/homepage-create-tile.jpg") no-repeat center center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size:cover;
}

.homepage-tile-content {
	position:absolute;
	z-index:2;
}

#explore-tile-content {
	text-align:center;
	width:800px;
	left:50%;
	top:45%;
	transform:translate(-50%, -50%);
}

#create-tile-content {
	position:absolute;
	width:700px;
	left:100px;
	top:45%;
	transform:translateY(-50%);
}

#share-tile-content {
	right:100px;
	position:absolute;
	width:700px;
	top:45%;
	transform:translateY(-50%);
	text-align:right;
}

.home-tile-header {
	font-size:6.5em;
	letter-spacing:30px;
	color:white;
}

#explore-tile-header {
	text-indent:30px;
}

.home-tile-flair {
	font-style:italic;
	font-size:1.5em;
	color:rgba(255, 255, 255, 0.9);
	margin-top:15px;
}

.home-tile-text {
	font-size:2.5em;
	color:rgba(255, 255, 255, 0.9);
	letter-spacing:1px;
	line-height:40px;
}

.home-highlight-text {
	color:#398bc6;
	font-weight:bold;
}

#floating-arrow-div {
	width:100%;
	position:absolute;
	bottom:0px;
	left:0;
	text-align:center;
	color:rgba(255, 255, 255, 0.6);
	animation-duration:1500ms;
	animation-name:bounce;
	animation-iteration-count:infinite;
	animation-direction:alternate;
	animation-timing-function: ease-in;
	transition:all 300ms ease-out;
	cursor:pointer;
}

#floating-arrow-div:hover {
	color:white;
}

#floating-arrow {
	font-size:3em;
}

@keyframes bounce {
	from {
		bottom:5px;
	}
	to {
		bottom:0px;
	}
}

/******************************************
-------------------------------------------
 			     Navbar 
-------------------------------------------
*******************************************/

#navbar {
	background:rgba(0, 0, 0, 0.8);
	background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:50px;
	z-index:9998;
}

#moving-nav {
	background:rgba(0, 0, 0, 0.5);
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:50px;
	z-index:9997;
	display:none;
}

#nav-logo {
	color:rgba(255, 255, 255, 0.8);
	font-size:2em;
}

#nav-logo:hover {
	text-decoration:none;
	color:white;
}

.navbar-content {
	margin-left:15px;
	color:rgba(255, 255, 255, 0.9);
	line-height:50px;
	letter-spacing:2px;
	cursor:pointer;
	font-size:1em;
}

#login:hover {
	color:black;
}

.nav-button {
	border:2px solid rgba(255, 255, 255, 0.9);
	padding:7px 12px;
}

.nav-button:hover {
	background:black;
}

#nav-explore {
	margin-left:25px;
	font-size:1.4em;
	height:50px;
	padding:0 12px;
	background:rgba(0, 0, 0, 0.4);
}

#nav-explore:hover {
	background:rgba(255, 255, 255, 0.6);
	color:black;
	letter-spacing:3px;
	text-decoration:none;
}

.custom-dropdown-div {
	padding:0 10px;
	cursor:pointer;
	position:relative;
	z-index:9998;
}

.custom-dropdown-div:hover {
	background: rgba(0, 0, 0, 0.4) !important;
}

#custom-dropdown-menu {
	position:absolute;
	right:0px;
	top:50px;
	z-index:9999;
	display:none;
	text-align:center;
	border-radius:0 0 5px 5px;
}

.user-dropdown-option {
	width:150px;
	height:45px;
	background:rgba(0, 0, 0, 0.7);
	color:white;
	line-height:45px;
	letter-spacing:1px;
	position:relative;
}

.user-dropdown-option:hover {
	background: rgba(255, 255, 255, 0.7);
	color:black;
	letter-spacing:2px;
	text-decoration:none;
}

.div-link {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
}

#nav-mobile-logo {
	display:none;
}

.nav-logo {
	height:40px;
	width:40px;
	opacity:0.8;
	margin-left:3px;
	margin-top:5px;
}

#explore-dropdown-option {
	display:none;
}

@media all and (max-width:600px) {
	#nav-logo {
		display:none;
	}
	#explore-dropdown-option {
		display:block;
	}
	#nav-explore {
		display:none;
	}
	#nav-mobile-logo {
		display:inline-block;
	}
	#navbar {
		background:rgba(0, 0, 0, 0.7);
		background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3));
	}
}

/******************************************
-------------------------------------------
 			     Footer
-------------------------------------------
*******************************************/

#footer-icons {
	margin-top:20px;
	text-align:center;
}

#footer-links {
	margin-top:10px;
	text-align:center;
}

.footer-container {
	height:180px;
	background:rgba(0, 0, 0, 0.8);
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8));
}

.footer-icon-col {
	text-align:center;
	position:relative;
}

.footer-icon-div {
	position:relative;
	display:inline-block;
	padding:0 15px;
}

.footer-icon {
	height:45px;
	width:45px;
}

.footer-link {
	letter-spacing:2px;
	font-size:1.2em;
	color:rgba(255, 255, 255, 0.8);
}

.footer-link-spacer {
	margin:0 10px;
	font-size:1.5em;
	color: rgba(255, 255, 255, 0.8);
}

.error-link-spacer {
	margin:0 10px;
	font-size:1.5em;
	color: rgba(0, 0, 0, 0.8);
}

.footer-link:hover {
	color:rgba(255, 255, 255, 0.8);
	text-decoration:underline;
}

.sub-footer-copyright {
	color: rgba(255, 255, 255, 0.8);
	font-size:1em;
	letter-spacing:1px;
}

.sub-footer-info-name {
	color: rgba(255, 255, 255, 0.8);
	font-size:1.2em;
	letter-spacing:1px;
}

@media all and (max-width:500px) {
	.sub-footer-copyright {
		font-size:.8em;
	}
	.footer-link {
		font-size:.9em;
	}
	.footer-link-spacer {
		font-size:1.2em;
	}
	.sub-footer-info-name {
		font-size:.9em;
	}
}
/******************************************
-------------------------------------------
 			  Flash Info
-------------------------------------------
*******************************************/

#flash-div {
	position:fixed;
	top: -100px;
	left:50%;
	transform: translate(-50%);
	z-index:9000;
    -o-box-shadow: 0px 11px 20px -15px rgba(46,46,46,1);
    -moz-box-shadow: 0px 11px 20px -15px rgba(46,46,46,1);
    box-shadow: 0px 11px 20px -15px rgba(46,46,46,1);
    white-space: nowrap;
    display:none;
}

.flash-remove-icon {
	position:relative !important;
	margin-left:5px;
	font-size:1.3em;
	top:4px !important;
	cursor:pointer;
}

/******************************************
-------------------------------------------
 			     Login
-------------------------------------------
*******************************************/

.login-container {
	margin-top:50px;
	text-align:center;
}

.login-signup-modal {
	padding:5px 0 20px 0;
	width:400px;
	background:white;
	position:fixed;
	top:-500px;
	left:50%;
	transform: translate(-50%);
	z-index:2000;
	border-radius:5px;
	display:none;
	text-align:center;
	z-index:9999;
	background:#f2f2f2;
	background: linear-gradient(#f2f2f2, white);
}

.login-background-image {
	background: url("../images/vector-background-no-top-small.png") no-repeat center center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size:cover;
	position:absolute;
	bottom:0;
	width:100%;
	height:210px;
	background-position:50% 35%;
	border-radius:0 0 2px 2px;
}

#login-modal {
	-webkit-filter: drop-shadow(0px 1px 4px rgba(0,0,0,0.4));
	filter: drop-shadow(0px 1px 4px rgba(0,0,0,0.4));
}

#modal-overlay {
	background: rgba(0, 0, 0, 0.7);
	position:fixed;
	z-index:1999;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:none;
}

.modal-header-user {
	font-family: "patua", sans-serif;
}

.modal-header-text {
	font-size:2.6em;
	font-weight:bold;
	letter-spacing:1px;
}

.modal-header-subtext {
	font-size:1.3em;
	margin-top:-3px;
	color: rgba(0, 0, 0, 0.8);
	font-family: "dosis", sans-serif !important;
}

.login-signup-form {
	padding:0 30px;
}

.login-input {
	width:100%;
	padding:10px;
	border-radius:5px;
	font-size:1.3em;
	border: 2px solid rgba(0, 0, 0, 0.2);
}

.signup-input {
	padding-right:40px;
}

.input-div {
	margin-top:5px;
	width:100%;
	position:relative;
}

.form-input-icon {
	position:absolute !important;
	font-size:2em !important;
	color:green;
	right:10px;
	margin-top:10px;
}

.correct-icon {
	color:#2fb638;
}

.wrong-icon {
	color:#ff5555;
}

.login-form-text {
	font-size:1.3em;
	margin-bottom:3px;
	color:rgba(0, 0, 0, 0.6);
	text-align:left !important;
}

.login-modal-link {
	color:rgba(255, 255, 255, 0.9);
	font-size:1.1em;
	margin-left:2px;
	cursor:pointer;
}

.login-modal-link:hover {
	color:white;
	text-decoration:underline;
}

.input-form-text {
	font-family: 'dosis', sans-serif;
	font-size:1.2em;
	display:inline-block;
	cursor:pointer;
	color:rgba(255, 255, 255, 0.9);
}

.input-form-subtext {
	font-size:1.1em;
	color:#808080;
	color:rgba(255, 255, 255, 0.9);
	font-family: 'dosis', sans-serif;
}

.form-error-area {
	margin: 10px 0;
	padding:5px 5px 10px 5px;
	display:inline-block;
	background:#ffe6e6;
	display:none;
}

.list-error {
	color:#ff5555;
	margin-top:5px;
}

.form-error {
	float:right;
	padding:2px 5px !important;
	margin:0 5px 0 0 !important;
	border-radius:5px 5px 0 0 !important;
	position:relative;
	z-index:1000;
	display:none;
}

.tooltip > .tooltip-inner {
	white-space:nowrap;
	max-width:400px;
	background:rgba(0, 0, 0, 0.8);
	font-family:'dosis', sans-serif;
	color:white;
	font-size:1.3em;
}

.tooltip.top > .tooltip-arrow {
	color:rgba(0, 0, 0, 0.8);
}

.login-footer {
	margin-top:15px;
	padding:0 15px;
	position:relative;
}

#checkmark {
	font-size:1.3em;
	position:absolute;
	left:0px;
	top:-4px;
}

#login-checkmark {
	left:0;
	top:-6px;
	position:absolute;
	font-size:1.2em;
}

.login-checkbox {
	margin-right:95px;
	color:rgba(255, 255, 255, 0.8);
	font-size:1.2em;
}

.login-check-box {
	border:2px solid rgba(255, 255, 255, 0.8);
}

.submit-button {
	color: #347db2;
    height:42px;
    line-height:36px;
    width:100%;
    font-family: 'dosis', sans-serif;
    font-weight:bold;
    border: 3px solid #347db2;
    font-size: 1.2em;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #347db2;
	-webkit-transition: all ease 0.6s;
	-moz-transition: all ease 0.6s;
	transition: all ease 0.5s;
	background: none !important;
}

.submit-button:hover {
	box-shadow: inset 0px 50px 0 0 #347db2;
    color: #FFF;
}

/******************************************
-------------------------------------------
 			  Explore Map
-------------------------------------------
*******************************************/

#map {
	height:100%;
	width:100%;
	position:relative;
}

.map-column {
	padding-left:650px !important;
	padding-right:0 !important;
}

#explore-map-cover {
	position:fixed;
	height:100%;
	width:100%;
	padding-left:650px;
	background:#f2f2f2;
	z-index:9999;
}

.hide-on-page-load {
	display:none;
}

#map-search-filters {
	position:relative;
	z-index:3;
}

/* popup */

.map-popup {
	width:180px;
	-webkit-filter: drop-shadow(0px 1px 4px rgba(0,0,0,0.2));
	filter: drop-shadow(0px 1px 4px rgba(0,0,0,0.2));
	position:relative;
}

.map-popup:after, .map-popup:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.map-popup:after {
	border-top-color: white;
	border-width: 10px;
	left: 90px;
	margin-left: -10px;
}

.map-popup:before {
	border-top-color: #cccccc;
	border-width: 11px;
	left: 90px;
	margin-left: -11px;
}

.popup-image {
	height:85px;
	width:100%;
}

.popup-row {
	line-height:30px;
	width:100%;
	height:30px;
	text-align:center;
	text-transform:uppercase;
	letter-spacing:1px;
	font-size:1.2em;
	font-family: 'dosis', sans-serif;
	transition: all 0.5s !important;
	position:relative;
	display:block;
}

.popup-half-column {
	width:50%;
	display:inline-block;
	position:relative;
}

.popup-text {
	display:inline-block;
	position:relative;
}

.hidden-popup-text {
	display:none;
	color:white;
	font-weight:bold;
	font-size: .7em !important;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}

.popup-name {
	background:white;
	border-radius: 5px 5px 0px 0px;
	cursor:pointer;
}

.popup-type {
	color:white;
	cursor:default;
	background:#398bc6;
	overflow:hidden;
}

#indoor-popup-likes {
	background:white;
	cursor:default;
}

.popup-like-text {
	font-size:1.2em;
}

#popup-routes {
	background:white;
	float:left;
	border-right:1px solid #eaeaea;
	cursor:default;
}

#popup-diff {
	background:white;
	float:right;
	cursor:default;
}

#popup-confirm {
	background:white;
	border-top:1px solid #eaeaea;
	border-radius:0 0 5px 5px;
	cursor:pointer;
	white-space: nowrap;
}

/* area list popup */

#area-popup {
	width:250px;
	height:170px;
	-webkit-filter: drop-shadow(0px 1px 4px rgba(0,0,0,0.2));
	filter: drop-shadow(0px 1px 4px rgba(0,0,0,0.2));
	position:relative;
}

#area-popup:after, #area-popup:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	z-index:9998;
	pointer-events: none;
}

#area-popup:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
	border-width: 12px;
	margin-top: -12px;
}

#area-popup:before {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
	border-width: 12px;
	margin-top: -12px;
}

.area-popup-header {
	font-size:1.1em;
	text-align:center;
	letter-spacing:2px;
	border-radius:5px 5px 0 0;
	background: #f5f5f5;
	border-bottom:1px solid #e6e6e6;
	padding:3px;
}

#area-spot-list {
	height:150px;
	width:100%;
	overflow-y:auto;
	background:white;
	border-radius:0 0 0 5px;
}

.area-spot-div {
	margin:5px 0;
	border-top:1px solid #e6e6e6;
	position:relative;
	overflow:hidden;
}

.area-spot-div:hover {
	background:#e9f3fb !important;
}

.area-div-types {
	height:20px !important;
	line-height:18px !important;
	font-size:1em !important;
}

.area-div-column {
	height:25px !important;
	line-height:25px !important;
	font-size:1em !important;
}

.area-div-name {
	font-size:1.3em;
	text-align:center;
	background: radial-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
}

.area-div-unconfirmed {
	width:100% !important;
	font-size:.9em !important;
	margin-top:0 !important;
	border-radius:0 0 0 0 !important;
}

.main-area-div {
	position:relative;
	z-index:1;
}

.area-div-background {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.area-div-pic {

}

.area-div-white {
	background:rgba(255, 255, 255, 0.6);
	z-index:1;
}

.area-div-more-white {
	background:rgba(255, 255, 255, 0.4);
	z-index:1;
	display:none;
}

.area-background-pic {
	width:100%;
	height:150px;
}

/* custom map controls */

.map-info-div {
	position:absolute;
	left:50px;
	bottom:10px;
	z-index:1;
}

#overview-button {
	background:rgba(0, 0, 0, 0.5);
	border-radius:2px;
	padding:7px;
	letter-spacing:1px;
	color:white;
	border:3px solid rgba(255, 255, 255, 0.7);
	cursor:pointer;
}

#overview-button:hover {
	background:rgba(0, 0, 0, 0.7);
}

#cluster-info-text {
	color:white;
	font-size:2.2em;
	text-shadow: -2px 2px rgba(0, 0, 0, 0.5);
}

.map-ajax-gif {
	position:absolute;
	top:5px;
	right:10px;
	z-index:9999;
}

.spinner-gif {
	height:35px;
	width:35px;
}

/******************************************
-------------------------------------------
 			Explore Sidebar
-------------------------------------------
*******************************************/

.list-column {
	height:100%;
	width:650px;
	position:fixed;
	left:0;
	z-index:11;
}

#spot-list {
	height:100%;
	overflow-y:scroll;
	background:white;
}

#blank-spot-list {
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	width:100%;
	text-align:center;
}

#explore-list-filters {
	z-index:12;
	width:650px;
	position:fixed;
	left:0;
	height:75px;
}

#list-filters {
	height:75px;
	background: #e6e6e6;
	padding:0;
}

#spot-num {
	font-family: 'dosis', sans-serif;
	font-size:1.4em;
	text-align:center;
	letter-spacing:2px;
}

/* list filters */

.list-filter-div {
	border-top:1px solid rgba(0, 0, 0, 0.2);
	border-right:1px solid rgba(0, 0, 0, 0.2);
	border-bottom:1px solid rgba(0, 0, 0, 0.2);
	color:rgba(0, 0, 0, 0.8);
	height:42px;
	width:100%;
	text-align:center;
	line-height:42px;
	font-size:1.2em;
	letter-spacing:1px;
	cursor:pointer;
	position:relative;
}

.list-filter-triangle {
	font-size:.8em;
	margin-left:20px;
}

.list-filter-menu {
	position:absolute;
	top:42px;
	left:0;
	z-index:1000;
	text-align:center;
	width:100%;
	background:#f2f2f2;
	-webkit-box-shadow: -1px 8px 11px -5px rgba(77,77,77,1);
    -moz-box-shadow: -1px 8px 11px -5px rgba(77,77,77,1);
	box-shadow: -1px 8px 11px -5px rgba(77,77,77,1);
	display:none;
	border-radius:0 0 2px 2px;
}

.list-filter-option {
	letter-spacing:2px;
	padding:5px 0;
	font-size:1.2em;
	cursor:pointer;
}

.list-filter-option:hover {
	background:rgba(0, 0, 0, 0.8) !important;
	color: white !important;
}

.inactive-filter {
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background:rgba(255, 255, 255, 0.8);
	z-index:1;
	display:none;
}

@media all and (max-width:1600px) {
	.list-column {
		width:500px;
	}	
	#explore-list-filters {
		width:500px;
	}
	.map-column {
		padding-left:500px !important;
	}
	#explore-map-cover {
		padding-left:500px;
	}
	.list-filter-triangle {
		margin-left:5px;
	}
}

/* spot div */

.spot-card {
	margin:15px 15px;
	background:#f6f6f6;
	border-radius:5px;
	width:605px;
	display:inline-block;
}

.spot-explore-div {
	background:#f6f6f6;
	margin-top:10px;
}

.spot-explore-div:hover {
	background:#e9f3fb !important;
}

.spot-div {
	transition: all 0.2s;
	position:relative;
	padding:5px 0 5px 5px;
	height:260px;
}

.spot-div-pic-holder {
	height:250px;
	width:250px;
	overflow:hidden;
	transition: all 0.5s;
	position:relative;
	z-index:1;
	float:left;
	display:inline-block;
}

.spot-info-half {
	display: inline-block;
	width:350px;
	position:absolute;
	right:0;
}

.spot-div-name {
	margin-left:5px;
	font-size:1.9em;
	line-height:30px;
}

.spot-div-user {
	margin-left:5px;
	margin-bottom:5px;
	color:rgba(0, 0, 0, 0.5);
	overflow:hidden;
	white-space:nowrap;
}

.spot-div-columns-row {
	border-top:1px solid rgba(0, 0, 0, 0.1);
}

.spot-div-column {
	text-align:center;
	height:40px;
	border-right:1px solid rgba(0, 0, 0, 0.1);
	line-height:40px;
	font-size:1.3em;
	position:relative;
}

.spot-column-hover-info {
	position:absolute;
	height:100%;
	width:100%;
	background:rgba(0, 0, 0, 0.8);
	display:none;
	color:white;
	z-index:100;
	cursor:default;
}

.spot-div-types {
	text-align:center;
	border-bottom:rgba(0, 0, 0, 0.1);
	height:30px;
	background:rgba(0, 0, 0, 0.8);
	color: white;
	line-height:30px;
	font-size:1.3em;
	letter-spacing:2px;
	overflow:hidden;
}

.spot-description {
	color: rgba(0, 0, 0, 0.7);
	margin:5px 5px 0 5px;
	height:115px;
	overflow:hidden;
}

.spot-div-unconfirmed {
	width:605px;
	text-align:center;
	font-size:1.2em;
	letter-spacing:5px;
	background:#e6e6e6;
	margin-top:-5px;
	border-radius:0 0 5px 5px;
	cursor:pointer;
}

.spot-div-unconfirmed:hover {
	letter-spacing:7px;
	background:#e6e6e6;
}

.indoor-div-likes {
	position:absolute;
	bottom:5px;
	right:10px;
	font-size:1.4em;
	color:rgba(0, 0, 0, 0.7);
}

.loader-ripple {
	height:65px;
	width:65px;
	display:inline-block;
}

.small-loader-ripple {
	height:30px;
	width:30px;
	display:inline-block;
}

.spot-list-loader {
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
}

/******************************************
-------------------------------------------
 			Map Filter Div
-------------------------------------------
*******************************************/

/* search */

#top-filter-row {
	background:#e6e6e6;
}

.search-form-div {
	background: #e6e6e6;
	height:75px;
	transition: all 0.5s;
	width:100%;
}

#map-search-bar {
	position:relative;
	width:95%;
	left:22px;
	top:15px;
	font-size:1.2em;
	height:45px;
	letter-spacing:1px;
	font-family: 'patua', sans-serif;
	border:0 solid black;
	border-radius:0 0 0 0 ;
	outline:none;
	box-shadow:none;
	background:none;
}

#map-search-submit {
	position:absolute;
	left:6px;
	top:28px;
	font-size:1.4em;
	cursor:pointer;
	color:#878787;
	z-index:9999;
}

#search-results {
	width:600px;
	background:white;
	position:absolute;
	z-index:1;
	display:none;
	border-radius:0 0 5px 0;
}

#search-overlay {
	height:100%;
	width:100%;
	background: rgba(0, 0, 0, 0.6);
	position:absolute;
	z-index:2;
	display:none;
}

/* search results */

.search-results-div {
	display:none;
}

.search-results-header {
	width:100%;
	border-bottom:5px solid #347db2;
	margin-top:10px;
}

.search-results-type {
	background:#347db2;
	padding:0 10px;
	color:white;
	margin-left:50px;
	font-size:1.8em;
	letter-spacing:1px;
	font-family: 'dosis', sans-serif;
	display:inline-block;
}

.search-result-row {
	padding:10px 0 10px 10px;
	border-top: 1px solid #f2f2f2;
	border-bottom:1px solid #f2f2f2;
	font-family: 'dosis', sans-serif;
	font-size:1.2em;
	color:#666666;
	cursor:pointer;
	display:block;
}

.search-result-row:hover {
	background: #f2f2f2;
	color:#398bc6;
	text-decoration:none;
}

.search-result-icon {
	font-size:.9em !important;
	margin-right:5px;
}

.view-all-results {
	float:right;
	margin-top:5px;
	margin-right:5px;
	font-size:1.3em;
	font-family: 'dosis', sans-serif;
	display:none;
}

.search-result-type {
	display:inline-block;
	float:right;
	margin-right:10px;
}

.search-result-diff {
	display:inline-block;
	float:right;
	margin-right:10px;
}

#search-loading-div {
	height:150px;
	display:none;
	width:100%;
}

#search-loading-text {
	position:absolute;
	top:55%;
	left:50%;
	width:100%;
	transform: translate(-50%, -50%);
	font-size:2.8em;
	letter-spacing:1px;
	font-family: 'dosis', sans-serif;
	font-style:italic;
	color:#737373;
	text-align:center;
}

.infinite-load-gif {
	height:55px;
	width:55px;
	margin:5px auto 5px auto;
	display:none;
}

/* search filters bar */

#search-top-bar {
	background:#e6e6e6;
	height:40px;
	width:600px;
	line-height:35px;
	position:fixed;
	z-index:9999;
}

#search-results-scroll {
	overflow-y:auto;
	max-height:500px;
	margin-top:40px;
}

.search-filter-bar {
	display:inline-block;
	margin-left:10px;
}

.inside-search-filter {
	display:inline-block;
	font-size:1.3em;
	font-family: 'patua', sans-serif;
	margin-left:10px;
	cursor:pointer;
	color:rgba(0, 0, 0, 0.7);
	transition: all 0.3s;
}

.inside-search-filter:hover {
	color:black !important;
}

#search-results-info {
	margin: 2px 10px 0px 0;
	font-size:1.3em;
	float:right;
	font-family:'dosis', sans-serif;
}

/* main climbing choices */

.climbing-choice-div {
	cursor:pointer;
	height:75px;
	line-height:75px;
	width:100%;
	font-size:1.7em;
	text-align:center;
	font-family: "patua", sans-serif;
	letter-spacing:1px;
	transition: all 0.4s;
	overflow:hidden;
}

.climbing-choice-div:hover {
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
}

.inside-climbing-choice {
	background: rgba(0, 0, 0, 0.5);
	color:rgba(255, 255, 255, 0.3);
	transition: all 0.4s;
}

.inside-climbing-choice:hover {
	background: rgba(0, 0, 0, 0.2);
	color: white;
	-webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
}

#Ropes {
	background: url("../images/ropes-filter.jpg");
	-moz-background-size: cover;
    -o-background-size: cover;
	background-size:cover;
}

#Bouldering {
	background: url("../images/boulder-filter.jpg");
	-moz-background-size: cover;
    -o-background-size: cover;
	background-size:cover;
	background-position: 50% 40%
}

#Indoor {
	background: url("../images/indoor-filter.jpg");
	-moz-background-size: cover;
    -o-background-size: cover;
	background-size:cover;
}
/* specific climbing filters */

#specific-map-filters {
	position:absolute;
	top:0;
	left:0;
	z-index:1;
}

.specific-type-filters {
	position:relative;
	top:0px;
	cursor:pointer;
	float:left;
	overflow:hidden;
}

.specific-map-filter-div {
	float:left;
}

.specific-map-filter {
	padding:5px 8px 5px 18px;
	border-right:2px solid rgba(0, 0, 0, 0.6);
	background: rgba(0, 0, 0, 0.5);
}

.specific-filter-choice {
	background: rgba(0, 0, 0, 0.8);
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8));
	padding:5px 10px;
	float:left;
	transition: background 0.3s linear;
}

.specific-map-filter-text {
	color:white;
	font-family: "dosis", sans-serif;
	font-size:1.4em;
	letter-spacing:2px;
	display:inline-block;
	margin-right:20px;
}

.specific-filter-choice-text {
	color: rgba(255, 255, 255, 0.9);
	font-family: "dosis", sans-serif;
	text-transform:uppercase;
	font-size:1.4em;
	display:inline-block;
}

.filter-select-icon {
	color:white;
	position:relative;
	font-size:1em;
	right:6px;
	margin-top:7px;
	float:right;
	color:white;
}

.filter-choice-remove {
	color: rgba(255, 255, 255, 0.7);
	position:relative;
	margin-left:5px;
	top:-1px !important;
	font-size:.9em !important;
	transition: all 0.3s;
}

.filter-choice-remove:hover {
	color: rgba(255, 255, 255, 0.5);
}

.specific-map-filter-menu {
	text-align:center;
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7));
	width:100%;
	border-radius: 0 0 2px 2px;
	display:none;
}

.specific-menu-text {
	color:white;
	font-family: "dosis", sans-serif;
	font-size:1.2em;
}

.specific-menu-text:hover {
	background:white;
	color:black;
}

/******************************************
-------------------------------------------
 		   Map Event Info Div
-------------------------------------------
*******************************************/

#map-event-info {
	position:absolute; 
	top: -70px;
	left:50%;
	z-index:1;
	transform: translate(-50%);
    -o-box-shadow: 0px 11px 20px -15px rgba(46,46,46,1);
    -moz-box-shadow: 0px 11px 20px -15px rgba(46,46,46,1);
    box-shadow: 0px 11px 20px -15px rgba(46,46,46,1);
    white-space: nowrap;
}

.map-event-text {
	font-family: "Tahoma", "Geneva", sans-serif;
	margin-left:10px;
	margin-right:10px;
}

.alert-icon {
	font-size:1.4em;
	margin-left:10px;
	position:relative !important;
	top:3px !important;
}

.info-remove-icon {
	font-size:1.2em;
	margin-left:10px;
	cursor:pointer;
	position:relative !important;
	top:4px !important;
}

.info-remove-icon:hover {
	color:rgba(0, 0, 0, 0.6);
}

/******************************************
-------------------------------------------
 		Explore Page Media Queries
-------------------------------------------
*******************************************/

@media all and (max-width:1600px) {
	.spot-info-half {
		width:275px;
	}
	.spot-card {
		width:455px;
	}
	.spot-div {
		height:185px;
	}

	.spot-div-pic-holder {
		height:175px;
		width:175px;
	}
	.spot-div-column {
		height:25px;
		font-size:1.1em;
		line-height:25px;
	}
	.spot-div-types {
		height:22px;
		line-height:22px;
		font-size:1.1em;
	}
	.spot-description {
		height:80px;
		font-size:1em;
		margin:2px 5px 0 5px;
	}
	.spot-div-name {
		font-size:1.5em;
		line-height:15px;
		display:block;
		margin:4px 0 2px 5px;
	}
	.spot-div-user {
		font-size:1em;
		margin-bottom:2px;
	}
	.spot-div-unconfirmed {
		font-size:1em;
	}
	.climbing-choice-div {
		font-size:1.5em;
	}
	#map-search-bar {
		font-size:1.1em;
	}
}

/******************************************
-------------------------------------------
 			spot show page 
-------------------------------------------
*******************************************/

/* banner */

#show-page-header {
	position:relative;
	text-align:center;
}

#show-spot-main-image {
	width:100%;
	height:650px;
	text-align:center;
	overflow:hidden;
	position:relative;
}

#show-user-main-image {
	width:100%;
	height:500px;
	text-align:center;
	overflow:hidden;
	position:relative;
}

#show-spot-image {
	width:100%;
	position:absolute;
	top:50%;
	left:0;
	transform: translateY(-50%);
	z-index:-5;
}

.show-spot-banner-main {
	position:absolute;
	top:45%;
	left:50%;
	transform: translate(-50%, -50%);
	display:inline-block;
	color:white;
	font-family: "patua", sans-serif;
	font-size:4em;
	letter-spacing:2px;
	background-color: rgba(0, 0, 0, 0.4);
	border:3px solid rgba(0, 0, 0, 0.5);
	padding:8px 20px;
	border-radius:2px;
}

.show-spot-banner-sub {
	position:absolute;
	bottom:0;
	left:0;
	background-color: rgba(0, 0, 0, 0.4);
	border-top:3px solid rgba(0, 0, 0, 0.5);
	border-left:3px solid rgba(0, 0, 0, 0.5);
	border-right:3px solid rgba(0, 0, 0, 0.5);
	color:white;
	font-family: "patua", sans-serif;
	display:inline-block;
	font-size:2em;
	padding:10px;
	border-radius:0px 5px 0px 0px;
}

.show-banner-element {
	position:absolute;
	color:white;
	padding:10px;
	background-color: rgba(0, 0, 0, 0.5);
	display: inline-block;
}

.show-banner-username {
	bottom:0;
	right:0;
	font-size:1.5em;
	border-radius:5px 0px 0px 0px;
}

.show-banner-location {
	bottom:0;
	left:0;
	border-radius:0 5px 0 0;
	font-size:1.5em;
	padding:8px;
}

#show-banner-caption {
	display:inline-block;
	width:100%;
	text-align:center;
	height:50px;
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	bottom:0;
	z-index:9999;
}

.pic-selector {
	position:absolute;
	z-index:1;
	cursor:pointer;
	height:100%;
	width:100px;
	display:none;
}

.spot-image-selector {
	height:50px;
	width:50px;
	opacity:0.5;
	position:absolute;
	top:45%;
	transform:translate(-50%);
}

/* user pic info div */

#picture-info-div {
	margin-top:5px;
	height:65px;
	text-align:center;
	position:absolute;
	top:0;
	left:50%;
	transform: translateX(-50%);
}

#picture-info-card {
	height:65px;
	display:inline-block;
	text-align:left !important;
}

#user-pic-avatar {
	border-radius:50px;
	height:65px;
	width:65px;
	vertical-align:top;
}

#pic-user-info {
	display:inline-block;
	margin-left:5px;
	vertical-align:top;
	margin-top:2px;
}

#pic-user-name {
	font-family: "patua", sans-serif;
	font-size:1.8em;
	letter-spacing:1px;
	color:white;
}

#pic-upload-date {
	font-family: "dosis", sans-serif;
	font-size:1.2em;
	color:#d9d9d9;
	position:relative;
	bottom:3px;
}

#show-banner-caption {
	display:inline-block;
	width:80%;
}

#caption-text {
	margin-top:15px;
	color:white;
	font-size:1.2em;
}

#pic-profile {
	vertical-align:top;
	margin-top:19px;
	margin-left:15px;
}

.picture-vote-div {
	display:inline-block;
	height:100%;
	color:#e9e9e9;
	text-align:center;
	margin-right:5px;
	cursor:pointer;
	position:relative;
	bottom:2px;
}

.picture-vote-div:hover {
	color:white;
}

.upvote-icon {
	font-size:1.9em !important;
	position:relative !important;
	top:8px !important;
}

.upvote-amount {
	font-size:1.7em;
	position:relative;
	bottom:4px;
}

#pic-info-choices {
	display:inline-block;
	margin-left:20px;
}

.pic-choice-icon {
	display:block !important;
	font-size:1.5em;
	margin-top:5px;
	color:white;
	cursor:pointer;
}

#edit-caption {
	position:relative;
	left:1px;
}

#spot-banner-close {
	color:#fb4437;
	float:right;
	cursor:pointer;
	font-size:2.2em;
	color: rgba(255, 255, 255, 0.4);
	margin-right:25px;
	margin-top:10px;
}

#save-caption {
	border-radius:0 2px 2px 0;
	vertical-align:top;
	padding:0px 5px !important;
	height:50px;
	line-height:50px;
}

.add-caption-textarea {
	background:rgba(255, 255, 255, 0.5);
	font-size:1em;
	border-radius:5px 0px 0px 5px;
	width:80%;
	padding:3px;
	border:none;
	resize:none;
	height:50px !important;
	transition: all 0.5s;
}

#spot-banner-close:hover {
	color: rgba(255, 255, 255, 0.6);
}

#report-picture {
	color: rgba(255, 255, 255, 0.4);
	font-size:1.2em;
	cursor:pointer;
	position:absolute;
	left:10px;
	bottom:5px;
}

#report-picture:hover {
	color: rgba(255, 255, 255, 0.8);
}

#pic-feature-name {
	display:none;
	height:100%;
	margin-left:10px;
	padding-bottom:5px;
}

.pic-feature-col {
	display:inline-block;
	margin-left:5px;
	max-width:150px;
	overflow:hidden;
}

.pic-feature-type {
	color:rgba(255, 255, 255, 0.7);
	border-bottom:1px solid rgba(255, 255, 255, 0.2);
	letter-spacing:1px;
	font-size:1.2em;
}

.pic-feature-text {
	color:white;
}

#set-cover-pic {
	display:none;
	position:absolute;
	font-size:1.5em;
	top:10px;
	left:10px;
	color:rgba(255, 255, 255, 0.9);
	letter-spacing:1px;
}

#set-cover-pic:hover {
	text-decoration:underline;
	cursor:pointer;
}

@media (max-width: 600px) {
	#spot-banner-caption {
		width:100%;
	}
}

#pic-carousel {
	position:fixed;
	height:100%;
	width:100%;
	background:rgba(0, 0, 0, 0.8);
	z-index:9999;
	display:none;
}

#pic-holder {
	height:100%;
	width:100%;
	margin:auto;
	position:relative;
	z-index:-1;
}

.close-fixed-modal {
	font-size:2.5em;
	position:absolute !important;
	top:5px !important;
	right:5px !important;
	color:rgba(255, 255, 255, 0.4);
	z-index:9999;
	cursor:pointer;
}

.carousel-pic {
	height:80%;
	width:100%;
	position:absolute;
	object-fit:contain;
	display:none;
	top:50%;
	transform: translateY(-50%);
}

.carousel-pic-selector {
	position:absolute;
	text-align:center;
	height:100%;
	width:100px;
	top:0;
	cursor:pointer;
}

#carousel-pic-count {
	position:absolute;
	right:10px;
	bottom:5px;
	font-size:1.2em;
	color:rgba(255, 255, 255, 0.8);
}

/* infobar */

.fixed-info-bar {
	position:fixed;
	top:50px;
	z-index:1000;
	width:100%;
}

#show-spot-info-bar {
	height:60px;
	background: white;
	-webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

.info-bar-column-left {
	float:left;
}

.info-bar-column-right {
	float:right;
}

.info-bar-div {
	display:inline-block;
	height:60px;
	font-family: "dosis", sans-serif;
	text-align:center;
	padding-left:10px;
	padding-right:10px;
	color:white;
	font-size:1.6em;
	line-height:60px;
	cursor:pointer;
}

#info-bar-name {
	font-family: "patua", sans-serif !important;
	letter-spacing:1px;
	background: rgba(0, 0, 0, 0.7);
	font-size:2.2em !important;
}

#info-bar-claims {
	background: rgba(0, 0, 0, 0.6);
	vertical-align:top;
}

#info-bar-routes {
	background: rgba(0, 0, 0, 0.5);
	vertical-align:top;
}

#info-bar-spots {
	background: rgba(0, 0, 0, 0.4);
	vertical-align:top;
}

.infobar-user-location {
	line-height:60px;
	font-size:1.7em;
	margin-right:10px;
}

/* description/spot info */

#body-background {
	margin-top:-1px;
	background: url("../images/show-image-body.jpg");
	background-size:cover;
	background-position: 50% 30%;
	padding:5px 0 15px 0;
	/*
	-o-box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5);
	*/
}

.body-header {
	border-bottom: 3px solid #e6e6e6;
}

.body-header-text {
	font-size:3em;
	font-family: "dosis", sans-serif;
	display:inline-block;
}

.desc-icons {
	margin-top:20px;
	margin-right:10px;
	font-family: "dosis", sans-serif;
	display:inline-block;
	float:right;
	cursor:pointer;
}

.desc-icons:hover {
	text-decoration:underline;
}

.desc-icon-text {
	font-size:1.5em;
	margin-right:5px;
	font-weight:bold;
}

.desc-icons-icons {
	font-size:1.2em;
}

.inside-description {
	padding-left:100px;
	padding-right:100px;
}

.inside-body-header {
	font-size:1.8em;
	font-family: "dosis", sans-serif;
	display:inline-block;
}

.inside-body-text {
	font-family: "dosis", sans-serif;
	display:inline-block;
	margin-left:5px;
	font-size:1.2em;
	color:black;
	padding:6px 6px;
	background:rgba(255, 255, 255, 0.4);
	border-radius:2px;
	white-space:pre-line;
}

/* desc edit forms */

.spot-edit-form {
	background: none;
	border:none;
	overflow:hidden;
	resize:vertical;
}

.edit-info-icon {
	position:absolute !important;
	top:0 !important;
	margin-left:8px;
	font-size:1.4em;
	cursor:pointer;
}

.edit-info-icon:hover {
	color:white;
}

/* load more div */

.load-more-div {
	text-align:center;
	padding-bottom:15px;
	margin-top:15px;
	position:relative;
	cursor:pointer;
}

.load-more-arrow {
	display:block!important;
	position:relative !important;
	color:rgba(0, 0, 0, 0.8);
}

/* comments */

#new-comment-body {
	font-family: "dosis", sans-serif;
	font-size:1.1em;
}

.spot-comment-div {
	padding-bottom:20px;
	border-bottom:1px solid #e6e6e6;
}

.comment-header {
	margin-top:10px;
	margin-left:30px;
}

.comment-vote-div {
	float:left;
	text-align:center;
	cursor:pointer;
	width:40px;
	color:rgba(0, 0, 0, 0.7);
}

.comment-vote-div:hover {
	color:rgba(0, 0, 0, 1);
}

.comment-upvote {
	font-size:1.6em;
}

.comment-image {
	height:45px;
	width:45px;
	border-radius:150px;
}

.comment-name {
	font-size:1.5em;
	font-family: "patua", sans-serif;
	position:relative;
	top:6px;
	left:5px;
}

.comment-time {
	margin-top:10px;
	float:right;
	font-family: "dosis", sans-serif;
	color:rgba(0, 0, 0, 0.5);
	font-size:1.1em;
}

.comment-body {
	padding-left:65px;
	font-size:1.2em;
	font-family: "dosis", sans-serif;
	white-space:pre-wrap;
}

.comment-options {
	font-family: "Tahoma", "Geneva", sans-serif;
	float:right;
	color:rgba(0, 0, 0, 0.5);
	position:relative;
	bottom:10px;
	display:none;
}

.comment-option {
	cursor:pointer;
}

.comment-option:hover {
	color:rgba(0, 0, 0, 0.8);
}

/* no comment div */

.spot-page-placeholder-div {
	margin:10px;
	padding:10px;
	color: rgba(0, 0, 0, 0.4);
	text-align:center;
}

.no-comments-text {
	font-size:1.9em;
	margin-bottom:5px;
}

/* route form */

.spot-page-form-div {
	margin-bottom:25px;
	padding:0px 10px 10px 10px;
	display:none;
}

#other-choice {
	text-align:center;
	font-size:1.2em;
	width:100%;
}

/* routes */

#route-area {
	text-align:center;
}

.route-spot-div {
	background:#f6f6f6;
	border-radius:5px;
	padding:5px 0px;
	margin:15px 0;
	transition: all 0.2s;
	width:350px;
	margin-left:10px;
	display:inline-block;
}

.route-pic-holder {
	height:300px;
	overflow:hidden;
	transition: all 0.5s;
	position:relative;
}

.route-pic {
	height:100%;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
}

.route-carousel-div {
	position:absolute;
	top:0;
	height:270px;
	width:100%;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
	z-index:1;
	opacity:0;
}

.route-carousel-div:hover {
	opacity:1;
}

.route-carousel-selector {
	color:rgba(255, 255, 255, 0.4);
	position:absolute !important;
	z-index:1;
	line-height:270px !important;
	font-size:2.3em;
	cursor:pointer;
}

.route-carousel-selector:hover {
	color:rgba(255, 255, 255, 0.7);
}

.route-name {
	font-size:2em;
	margin-top:5px;
	line-height:25px;
	color: rgba(0, 0, 0, 0.8);
	display:inline-block;
}

.route-user {
	font-size:1.3em;
	color:rgba(0, 0, 0, 0.5);
	line-height:20px;
	margin-bottom:5px;
}

.route-interactions {
	position:absolute;
	width:100%;
	bottom:0px;
	margin-right:0px !important;
	margin-left:0px !important;
}

.route-button {
	text-align:center;
	color:white;
	background:rgba(0, 0, 0, 0.5);
	padding:5px;
	border-right:rgba(0, 0, 0, 0.8);
	transition: all 0.5s;
	cursor:pointer;
}

.save-route-desc {
	background:rgba(255, 255, 255, 0.5) !important;
}

.route-button:hover {
	background:rgba(0, 0, 0, 0.8) !important;
	color:white !important;
}

.route-description {
	color: rgba(0, 0, 0, 0.7);
	margin-top:5px;
	height:50px;
	overflow-y:auto;
}

.route-info-squares {
	border-bottom:1px solid rgba(0, 0, 0, 0.1);
	height:40px;
}

.route-info-square {
	width:100%;
	text-align:center;
	position:relative;
	overflow:hidden;
	transition: all 0.5s;
	text-align:center;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.route-square-text {
	font-size:1.6em;
	line-height:40px;
}

.info-square-icon {
	font-size:4em;
	color:rgba(0, 0, 0, 0.1);
	position:absolute !important;
	left:50%;
	transform: translate(-50%);
	line-height:40px;
	z-index:1;
}

/******************************************
-------------------------------------------
 			User Show Page 
-------------------------------------------
*******************************************/
.activity-feed-div {
	border-bottom:1px solid rgba(0, 0, 0, 0.1);
	padding-bottom:15px;
}

.link-activity-text {
	font-size:1.3em;
	margin:0 2px;
}

.regular-activity-text {
	font-size:1.2em;
	color:rgba(0, 0, 0, 0.5);
}

.comment-activity {
	padding-left:35px;
	color:rgba(0, 0, 0, 0.7);
	margin-top:10px;
}

.new-spot-activity-icon {
	font-size:6.5em;
	opacity:0.1;
	margin-top:10px;
	position:absolute !important;
	left:50%;
	transform:translate(-50%);
}

.pic-activity {
	height:100%;
	max-width:100%;
	display:inline-block;
	object-fit:contain;
}

/* user edit */

.vector-background {
	background: url("../images/vector-background-no-top.png") no-repeat center center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size:cover;
	position:absolute;
	bottom:0;
	width:100%;
	height:650px;
	background-position:50% 50%;
}

@media (min-width:1500px) {
	.vector-background {
		background-position:50% 45%;
	}
}


@media (min-width:1800px) {
	.vector-background {
		background-position:50% 33%;
	}
}

.edit-form-div {
	margin-top:10px;
}

#avatar-upload-area {
	border:5px dashed rgba(0, 0, 0, 0.3);
	width:100%;
	height:220px;
	text-align:center;
	cursor:pointer;
	position:relative;
}

.upload-logo-avatar {
	background: url("../images/upload-logo-gray.png");
	height:110px;
	width:110px;
	background-size:cover;
	margin:0px auto 0 auto;
}

.avatar-edit-page {
	height:250px;
	width:250px;
	margin:auto;
}

.avatar-progress {
	position:relative;
	z-index:-1;
	bottom:0;
	width:100%;
}

.change-avatar {
	position:absolute;
	height:250px;
	width:250px;
	left:50%;
	transform:translate(-50%);
	margin-top:29px;
	background: rgba(255, 255, 255, 0.4);
	cursor:pointer;
}
/******************************************
-------------------------------------------
 			  Add spot page 
-------------------------------------------
*******************************************/

#add-spot-map {
	width:100%;
	height:500px;
}

.add-spot-header {
	font-family: "patua", sans-serif;
	font-size:3.5em;
}

.new-spot-form-div {
	margin-top:15px;
	position:relative;
}

.new-spot-text {
	font-size:1.3em;
	font-family: 'dosis', sans-serif;
	margin-bottom:3px;
	color:rgba(0, 0, 0, 0.6);
}

.new-spot-input {
	width:100%;
	font-family:'patua', sans-serif;
	padding:10px;
	border-radius:5px;
	font-size:1.3em;
	border: 2px solid rgba(0, 0, 0, 0.2);
	resize:vertical;
	transition: all 0.4s;
}

/******************************************
-------------------------------------------
 			  Upload Modal 
-------------------------------------------
*******************************************/

#upload-modal {
	width:800px;
	height:500px;
	background:white;
	position:fixed;
	top:-500px;
	left:50%;
	transform: translate(-50%);
	border-radius:5px;
	display:none;
	z-index:9999;
}

#dropzone-half {
	position:relative;
	float:left;
	width:50%;
	height:100%;
	text-align:center;
	border-radius:5px 0 0 5px;
}

#file-half {
	float:right;
	width:50%;
	height:100%;
	position:relative;
}

#picture-list {
	overflow-y:auto;
	height:450px;
}

#upload-info-footer {
	height:50px;
	border-top:1px solid #e6e6e6;
	background:#e6e6e6;
	background: linear-gradient(#f2f2f2, #e6e6e6);
}

#file-dropzone {
	border-radius: 5px 0 0 5px;
	height:100%;
	width:100%;
	background:rgba(0, 0, 0, 0.8);
	background: radial-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8));
	cursor:pointer;
}

.upload-info-area {
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	width:80%;
}

.dropzone-text {
	font-family: 'dosis', sans-serif;
	font-size:2.5em;
	color:#347db2;
}

#upload-logo {
	background: url("../images/upload-logo.png");
	height:175px;
	width:175px;
	background-size:cover;
	margin:auto;
	position:relative;
}

#upload-to-name {
	font-size:1.6em;
	display:inline-block;
	line-height:45px;
	margin-left:5px;
	color: rgba(0, 0, 0, 0.9);
}

#save-picture-list {
	float:right;
	width:100px;
	font-size:1.5em;
	margin-right:5px;
	margin-top:7px;
}

/* file list */

.file-row {
	position:relative;
	height:75px;
}

.upload-info {
	position:relative;
}

.upload-img-preview {
	margin-top:-1px;
	height:75px;
	width:100%;
	overflow:hidden;
	border-radius:5px;
	position:relative;
}

.upload-image {
	height:60px;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}

.upload-file-name {
	display:inline-block;
	margin-top:7px;
	font-family: 'dosis', sans-serif;
	font-size:1.5em;
}

.upload-percent {
	font-family: 'dosis', sans-serif;
	font-size:1.3em;
}

.upload-remove-icon {
	margin-top:29px;
	float:right;
	font-size:1.3em;
	cursor:pointer;
	color:rgba(0, 0, 0, 0.8);
}

.upload-remove-icon:hover {
	color: rgba(0, 0, 0, 1);
}

/******************************************
-------------------------------------------
 			  Report Modal 
-------------------------------------------
*******************************************/

#report-modal {
	width:800px;
	background:#e6e6e6;
	background: linear-gradient(#f2f2f2, #e6e6e6);
	position:fixed;
	top:-500px;
	left:50%;
	transform: translate(-50%);
	z-index:2000;
	border-radius:5px;
	z-index:9999;
	text-align:center;
	display:none;
}

#report-name {
	font-size:1.6em;
	font-style:italic;
	border-bottom:1px solid rgba(0, 0, 0, 0.1);
	padding:10px 0;
	margin:0 10px;
}

.report-box {
	background:white;
	height:220px;
	border-right:1px solid rgba(0, 0, 0, 0.1);
	overflow:hidden;
	cursor:pointer;
	position:relative;
}

.report-box-inside {
	position:absolute;
	width:100%;
	height:100%;
	right:0;
	top:0;
}

.report-box-div {
	z-index:1;
}

.report-choice-div {
	z-index:0;
	display:none;
}

.report-box-flair {
	position:absolute !important;
	top:50% !important;
	left:50% !important;
	transform:translate(-50%, -50%) !important;
}

.report-box-text {
	font-size:1.6em;
	color:rgba(0, 0, 0, 0.7);
	letter-spacing:2px;
}

.report-box-icon {
	font-size:11em;
	color:rgba(0, 0, 0, 0.1);
}

#report-other {
	font-family: 'dosis', sans-serif;
	font-size:1.1em;
}

/* report radio buttons */

.report-radio-list {
	text-align:left !important;
	list-style-type:none;
}

.report-radio-div {
	color: rgba(0, 0, 0, 0.6);
	transition: all 0.3s;
	cursor:pointer;
	margin-bottom:5px;
}

/* bootstrap progress bar overrides */

.progress {
	border-radius: 0 !important;
}

.progress-bar {
	background: #c2efc2 !important;
	position:absolute;
	opacity:.99;
}

/* terms */

.terms-title {
	font-size:3em;
	text-align:center;
	letter-spacing:5px;
	padding-bottom:5px;
	border-bottom:2px solid rgba(0, 0, 0, 0.2);
}

.term-header {
	font-size:2.2em;
}

.term-sub-header {
	font-size:1.5em;
}

.disclaimer-text {
	font-style:italic;
	margin-top:10px;
}

/* error page */

.error-header {
	font-size:3em;
}

#error-content {
	position:relative;
	margin-top:10%;
}

#error-page-icon {
	font-size:25em;
	position:absolute !important;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
	opacity:0.1;
}

/* about */

.about-header-text {
	font-size:3em;
	letter-spacing:2px;
	text-align:center;
}

.about-text {
	font-size:1.5em;
	margin-top:25px;
	padding-left:10px;
}

.about-profile {
	text-align:center;
}

.about-image {
	height:250px;
	width:250px;
	border-radius:150px;
}

.about-name-text {
	font-size:1.8em;
	margin-top:5px;
}

.about-titles {
	font-size:1.1em;
	letter-spacing:2px;
	color:rgba(0, 0, 0, 0.7);
}

.about-bio {
	padding:10px 85px;
	font-size:1.2em;
	color:rgba(0, 0, 0, 0.8);
}